<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de Teletrabajo</title>
</head>
<link rel="stylesheet" href="Estilos.css">

<body>

    <header>

        
        
        <h1> Proyecto de Programación Avanzada</h1>
        <h1> Grupo 1</h1>
    
          
   
        </br> </br>
    </header>

    <nav>
        <ul>

            <div class="divListas">

                <ul>
                    <img src="img/tareas.jpg" height="120px" >
                </br>
                    <p>
                        Calendario de actividades
                    </p>
                </ul>

                <li>
                    <a href="http://localhost:4000/Diego" style="color:black">Lista de Tareas Diego</a>
                </li>

                <li>
                    <a href="http://localhost:4000/Milagro" style="color:black">Lista de Tareas Milagro</a>
                </li>

                <li>
                    <a href="http://localhost:4000/Jonathan" style="color:black">Lista de Tareas Jonathan</a>
                </li>

                <li>
                    <a href="http://localhost:4000/Listas" style="color:black">Listas Completas</a>
                </li>

            </div>
    
        </ul>

    </nav>
</body>

</html>